# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# My Executables
assignment1/mtserver
assignment2/electleader

# Vim craps
*.swp
*.swp
